* {
    margin: 0;
    padding: 0;
}
#login-Bg {
    overflow: hidden;
    height:100vh;
    
    background:url('../assets/loginFormBacground.jpg');
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.MuiPaper-elevation1 {
    display: flex;
    flex-flow:column;
    padding:15px;
}
#loginForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
h1{
    color:#121111e2;
    font-weight:600;
    text-align:center;
    margin-bottom:10px;
}